[flake8]
select = B,B9,BLK,C,E,F,I,S,W

# Information to order imports.
application-import-names = hypermodern_screening, tests
import-order-style = google

ignore = E203, E501, W503

# Bugbear allows 10% more characters.
max-line-length = 80
exclude = tests/resources/nataf_transformation.py, tests/resources/distributions.py

# Adress some assert issue of bandit.
per-file-ignores = tests/*:S101

max-complexity = 10


