[flake8]

exclude = tests/resources/nataf_transformation.py, tests/resources/distributions.py

select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W

docstring-convention = numpy

ignore = E203, E501, W503

max-complexity = 10


# Information to order imports.
application-import-names = hypermodern_screening, tests
import-order-style = google


# Bugbear allows 10% more characters.
max-line-length = 80


# Adress some assert issue of bandit.
per-file-ignores = tests/*:S101

